.h1 {
    color: yellow;
}

body{
text-align: center;
    font-family: 'Lobster', cursive;
}

@media (max-width: 240px) { 
:body {
text-align:justify;
font-family: Arial, Helvetica, sans-serif;

} 

}