.h1 {
    color: yellow;
}

body{
text-align: center;
    font-family: 'Lobster', cursive;
}
@media (max-width:240px){
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background:url(https://i.pinimg.com/originals/a6/35/4d/a6354d6448a65652b21d7cf88558f7d8.jpg);background-size:100%")
}
}